body{
background-color: black;
color: white;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
}
details {
  margin: 20px 0;
  padding: 12px;
  border: 1px solid #000000;
  border-radius: 8px;
  background: #000000;
}

details summary {
  font-weight: 700;
  cursor: pointer;
}

